<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <style>
      body{
            
            background-image: url("resources/career.jpg");
            
          }
  </style>

<br><br>
<body>
<div>

<span style="color:#36C331">Search : </span>&nbsp <input ng-model="search">
<span style="color:#36C331">Search By Title : </span>&nbsp <input ng-model="searchText.jobTitle">
<span style="color:#36C331">Search By Skills: </span>&nbsp <input ng-model="searchText.skillRequired">
<br><br><br>

<table class="table table-striped">
<thead>
<tr>
<th style="color:#00CC00;">Title</th><th style="color:#00CC00;">Posted On</th>
</tr>
</thead>
<tbody> 
<tr ng-repeat="job in jobs  | filter:search">
<td><a href="" ng-click="getJobDetails(job.job)"><span style="color:#36C331">{{job.jobTitle}} </span></a></td>
<td><span style="color:#36C331">{{job.postedOn | date : 'yyyy-MM-dd'}}</span></td>
</tr>
</tbody>
</table>
</div>

<div ng-show="showJobDetails">
<b style="color:#008000">Job Title : </b><span style="color:#36C331">{{job.jobTitle}}</span> <br>
<b style="color:#008000">Job Description : </b><span style="color:#36C331">{{job.jobDescription}} </span><br>
<b style="color:#008000">Skills Required : </b><span style="color:#36C331">{{job.skillRequired}} </span><br>
<b style="color:#008000">Years Of Experience : </b><span style="color:#36C331">{{job.yrsOfExp}} </span><br>
<b style="color:#008000">Salary : </b><span style="color:#36C331">{{job.salary}}</span> <br>
<b style="color:#008000">Location : </b><span style="color:#36C331">{{job.location}} </span><br>
<b style="color:#008000">Company Name : </b><span style="color:#36C331">{{job.companyname}} </span><br>
<b style="color:#008000">Posted On : </b><span style="color:#36C331">{{job.postedOn | date:'yyyy:MM:dd'}}</span> <br>


</div>
</body>
</html>